.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

#app {
  .multiselect {
    &__tag {
      background: #7957d5;
      &-icon {
        &:after {
          color: #ffffff;
        }
        &:hover {
          background: #6943d0;
        }
      }
    }

    &__placeholder {
      font-size: 16px;
    }
  }
}

.align-buttons {
  &--right {
    display: flex;
    justify-content: flex-end;
  }
  &--center {
    display: flex;
    justify-content: center;

    button {
      width: 300px;
    }
  }
}

/** DEFAULT TRANSITION OF V-IF **/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}